* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head, nav, main, aside, section, article, footer, div {
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body{
    background-color: #FFF;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 120px 32px 32px;
    height: 128px;
}

#logo {
    display: flex;
}

#logo {
    display: flex;
    align-items: center;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 64px;
}

#logo span {
    text-transform: uppercase;
    color: #3E3F43;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    margin-left: 64px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #612999;
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 64px;
}

nav a:hover {
    font-weight: 600;
}

nav a.main_nav_selected {
    font-weight: 700;
}

/* Footer */
footer {
    display: flex;
    justify-content: flex-start;
    background: #EFECFF;
    position: sticky;
    bottom: 0;
    padding: 32px;
}

.footer_item {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 255px;
}

.footer_item > h3 {
    color: #333;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer_item > a {
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.footer_item .footer_icon_links {
    margin: 16px 0px;
}

.footer_item .footer_icon_links a {
    margin-right: 24px;
}

.footer_item span {
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Main */
.main_background_image {
    background-image: url('../images/MainPage-Background-Image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;

    font-family: Nunito;
    font-style: normal;
    line-height: normal;
}

.main_background_image h1 {
    color: #612999;
    font-size: 96px;
    font-weight: 800;
    width: 448px;
    padding-left: 32px;
    padding-top: 32px;
}

.main_background_image p {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    width: 448px;
    padding-left: 32px;
}

#wrapper {
    margin: 32px;
}

.about_section h2 {
    color: #612999;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 32px;
}

.about_section p {
    color: #000;
    text-align: justify;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;
    margin-bottom: 24px;
}